<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<h:body>
<h1 style="border:1px solid rgba(0,0,0,0.4);box-shadow: 2px 3px 4px;border-radius: 8px;">Cadastro de Usuario</h1>
<hr />

</h:body>
</html>
